In [1]:
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"
t_dataframe = pd.read_csv(url)
t_dataframe

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.00,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.00,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.00,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.00,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.00,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11547,25136,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,36.00,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Difficult
11548,25137,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Poland,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Tech...,25.00,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
11549,25138,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,34.00,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy
11550,25141,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Switzerland,No,"Secondary school (e.g. American high school, G...",NaN,...,Somewhat less welcome now than last year,NaN,25.00,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
11551,25142,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United Kingdom,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","A natural science (ex. biology, chemistry, phy...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,30.00,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Easy

In [3]:
#Find how many duplicate rows exist in the dataframe.
t_dataframe[t_dataframe.duplicated()==True].shape[0]

154

In [4]:
#Remove the duplicate rows from the dataframe
t_dataframe.drop_duplicates(inplace=True)

In [5]:
#Verify if duplicates were actually dropped
t_dataframe[t_dataframe.duplicated()==True]

Empty DataFrame
Columns: [Respondent, MainBranch, Hobbyist, OpenSourcer, OpenSource, Employment, Country, Student, EdLevel, UndergradMajor, EduOther, OrgSize, DevType, YearsCode, Age1stCode, YearsCodePro, CareerSat, JobSat, MgrIdiot, MgrMoney, MgrWant, JobSeek, LastHireDate, LastInt, FizzBuzz, JobFactors, ResumeUpdate, CurrencySymbol, CurrencyDesc, CompTotal, CompFreq, ConvertedComp, WorkWeekHrs, WorkPlan, WorkChallenge, WorkRemote, WorkLoc, ImpSyn, CodeRev, CodeRevHrs, UnitTests, PurchaseHow, PurchaseWhat, LanguageWorkedWith, LanguageDesireNextYear, DatabaseWorkedWith, DatabaseDesireNextYear, PlatformWorkedWith, PlatformDesireNextYear, WebFrameWorkedWith, WebFrameDesireNextYear, MiscTechWorkedWith, MiscTechDesireNextYear, DevEnviron, OpSys, Containers, BlockchainOrg, BlockchainIs, BetterLife, ITperson, OffOn, SocialMedia, Extraversion, ScreenName, SOVisit1st, SOVisitFreq, SOVisitTo, SOFindAnswer, SOTimeSaved, SOHowMuchTime, SOAccount, SOPartFreq, SOJobs, EntTeams, SOComm, WelcomeChange, SONewContent, Age, Gender, Trans, Sexuality, Ethnicity, Dependents, SurveyLength, SurveyEase]
Index: []

[0 rows x 85 columns]

In [6]:
#Find the missing values for all columns
t_dataframe.isnull().any()

Respondent      False
MainBranch      False
Hobbyist        False
OpenSourcer     False
OpenSource       True
                ...
Sexuality        True
Ethnicity        True
Dependents       True
SurveyLength     True
SurveyEase       True
Length: 85, dtype: bool

In [7]:
#Find out how many rows are missing values in the column 'WorkLoc'
t_dataframe[t_dataframe['WorkLoc'].isnull()==True].shape[0]

32

In [8]:
#Find the  value counts for the column WorkLoc.
t_result = t_dataframe[t_dataframe['WorkLoc'].isnull()==False]
t_result['WorkLoc'].unique()
for values in t_result['WorkLoc'].unique():
   print(values)

Home
Office
Other place, such as a coworking space or cafe

In [9]:
#Identify the value that is most frequent (majority) in the WorkLoc column.
majority = t_dataframe.groupby(by=['WorkLoc'])['WorkLoc'].count().sort_values(ascending=False).head(1)
majority

WorkLoc
Office    6806
Name: WorkLoc, dtype: int64

In [10]:
# Imputing or replace all the empty rows in the column WorkLoc with the value that you have identified as majority.
t_dataframe['WorkLoc'].fillna(majority.index[0], inplace=True)

In [11]:
#Verify if imputing was successful
t_dataframe[t_dataframe['WorkLoc'].isnull()==True].shape[0]
#t_dataframe.groupby(by=['WorkLoc'])['WorkLoc'].count().sort_values(ascending=False).head(1)

0

In [12]:
#Normalize data
#List out the various categories in the column 'CompFreq'
t_dataframe['CompFreq'].fillna("", inplace=True)
for items in t_dataframe['CompFreq'].unique():
    if bool(items):
        print(items)

Yearly
Monthly
Weekly

In [13]:
#Create a new column named 'NormalizedAnnualCompensation' based on available data
#ConvertedComp: Salary converted to annual USD salaries using the exchange rate on 2019-02-01, 
#assuming 12 working months and 50 working weeks.
for index, rows in t_dataframe.iterrows():
    if rows['CompFreq'] == 'Yearly':
        t_dataframe.loc[index,'NormalizedAnnualCompensation'] = rows['CompTotal']
    if rows['CompFreq']=='Monthly':
        t_dataframe.loc[index,'NormalizedAnnualCompensation'] = rows['CompTotal']*12
    if rows['CompFreq']=='Weekly':
        t_dataframe.loc[index,'NormalizedAnnualCompensation'] = rows['CompTotal']*50
        
t_dataframe[['Respondent','CompFreq','CompTotal','NormalizedAnnualCompensation','CurrencySymbol','CurrencyDesc']].sort_values(by=['Respondent'])

,Respondent,CompFreq,CompTotal,NormalizedAnnualCompensation,CurrencySymbol,CurrencyDesc
0,4,Yearly,"61,000.00","61,000.00",USD,United States dollar
1,9,Yearly,"138,000.00","138,000.00",NZD,New Zealand dollar
2,13,Yearly,"90,000.00","90,000.00",USD,United States dollar
3,16,Monthly,"29,000.00","348,000.00",GBP,Pound sterling
4,17,Yearly,"90,000.00","90,000.00",AUD,Australian dollar
...,...,...,...,...,...,...
11547,25136,Yearly,"130,000.00","130,000.00",USD,United States dollar
11548,25137,Yearly,"74,400.00","74,400.00",PLN,Polish zloty
11549,25138,Yearly,"105,000.00","105,000.00",USD,United States dollar
11550,25141,Yearly,"80,000.00","80,000.00",CHF,Swiss franc
11551,25142,,NaN,NaN,GBP,Pound sterling